*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-conten{
    position: relative;
}
.Header{
    /* height: 56px; */
    display: grid;
    padding: 5px 16px;
    grid-template-columns: 20% 60% 20% ;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}
.header-left{
    display: flex;
    /* justify-content: space-between;  */
    align-items: center;
    text-align: center;
}
.header-left-img{
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.header-left img{
    height: 30px;
   object-fit: fill;
}
.header-left-icon{
    width: 28%;
    font-size: 30px;
   padding: 0px 24px;
}
.header-left-img p{
    display: inline-block;
    font-weight: bold;
    padding-top: 2px;
}
.header-search{
    padding: 0px 24px;
}
.header-search-input{
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    border-radius: 15px;
}
.header-search-input input{
    width: 100%;
    height: 30px;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 15px;
}
.header-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-right button{
    padding: 8px 16px;
    border-radius: 15px;
}
.header-right span{
    margin-left: 5px;
}
.header-right p{
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
    font-weight: bolder;
}
.main-conten-body{
    margin-top: 10px;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
   
}
.menu{
    width: 15%;
}
.menu-list{
    list-style: none;
    border-bottom: 0.8px solid gray;
    border-top: 0.8px solid gray;
}
.menu-list-item{
    padding: 8px 10px;
    cursor: pointer;
}
.menu-list-item span{
    margin-left: 10px;
    font-size: 15px;
}
.menu-list-item i{
    font-size: 15px;
}
.body{
    width: 80%;
    text-align: center;
}
.body-card{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
}

.body-card-item h3{
    overflow: hidden;
    text-overflow:ellipsis ;
}
.menu-list-item:hover{
    background-color: aqua;
    
}
.ReactPlayer-main{
    padding: 20px 80px 0;
}
.ReactPlayer{
    width: 640px ;
    height: 360px;
}
.card-video{
    display: flex;
     column-gap: 5px;
     padding: 10px 0;
}
.card-video-img{
    width: 60%;
    
}
.card-video-img img{
 width: 168px;
 height: 94px;
    object-fit: cover;
    border-radius: 10px;
}
.card-video-title h4{
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}
.card-video-title p{
    margin-bottom: 1px;
}
.searchVD{
    width: 85%;
}